@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(55, 175, 119);
}

.card{
    font-family: 'Cairo', sans-serif;
    background-color: orange;
    border: 2px solid black;
    width: 25%;
    height: 400px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
}

.card h1{
    display: flex;
    justify-content: center;
}

.card h2{
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.card nav{
    margin-top: 120px;
    display: flex;
    justify-content: space-evenly;
}

.card button{
    background-color: black;
    color: white;
    font-size: 20px;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    transition: 0.1s all;
}

.card button:hover{
    transform: scale(1.1);
}